<h1>{{ mote.motetittel }}</h1>

<div class="col-lg-8">
    <div class="padding-bottom-15">
        <p><strong>Dato: </strong> <span class="glyphicon glyphicon-calendar"></span> {{ mote.motedato }} <span data-ng-show="mote.motested != 'null'"><strong>Sted: </strong> {{ mote.motested }}</span></p>
        <div data-ng-repeat="d in mote.dokumenter | orderBy:sortByDokType">
            <span class="glyphicon glyphicon-file" data-ng-show="d.type !== '5'"></span><span class="glyphicon glyphicon-paperclip" data-ng-show="d.type === '5'"></span> <a href="{{ downloadBaseUrl }}/{{ mote.utvid }}/{{ mote.moteid }}/{{ d.filnavn }}" target="_blank" title="Last ned dokumentet: {{ d.tittel }}">{{ d.tittel }}</a>
        </div>
    </div>

    <div data-ng-repeat="s in mote.saker | orderBy:sortBySaksnr" class="well">
        <p class="lead">{{ s.tittel }}</p>
        <div data-ng-repeat="d in s.dokumenter | orderBy:sortByDokType">
            <span class="glyphicon glyphicon-file" data-ng-show="d.type !== '5'"></span><span class="glyphicon glyphicon-paperclip" data-ng-show="d.type === '5'"></span> <a href="{{ downloadBaseUrl }}/{{ mote.utvid }}/{{ mote.moteid }}/{{ d.filnavn }}" target="_blank" title="Last ned dokumentet: {{ d.tittel }}"><span data-ng-show="d.sakstittel != ''">{{ d.sakstittel }}&nbsp;</span>{{ d.tittel }}</a>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div data-kontaktpersonbox></div>
    <div data-varslingsbox></div>
</div>

<div class="clearfix"></div>