<div data-ng-show="imSearching == true" class="lead"><span class="glyphicon glyphicon-refresh"></span> ...Søker</div>
<h1 data-ng-show="imSearching == false">Søkeresultat: {{ saker.length }} treff</h1>

<div data-ng-repeat="s in saker | orderBy:'saksaar':true" class="well">
    <p>
        <strong>Utvalg: </strong> <a href="#/utvalg/{{ s.utvid }}">{{ s.utvnavn }}</a>
        <strong>Møtedato: </strong> <a href="#/moter/{{ s.moteid }}">{{ s.motedato }}</a>
        <strong>Saksår: </strong> {{ s.saksaar }}
        <strong>Saksnummer: </strong> {{ s.saksnr }}
    </p>
    <p>
        <strong class="lead">{{ s.tittel }}</strong>
    </p>
    <div data-ng-repeat="d in s.dokumenter">
        <span class="glyphicon glyphicon-file"></span> <a href="{{ downloadBaseUrl }}/{{ s.utvid }}/{{ s.moteid }}/{{ d.filnavn }}" target="_blank" title="Last ned dokumentet: {{ d.tittel }}"><span data-ng-show="d.sakstittel != ''">{{ d.sakstittel }}&nbsp;</span>{{ d.tittel }}</a>
    </div>
</div>