<h1>{{ utvalg.utvnavn }}</h1>

<div class="col-lg-8">
    <table class="table">
        <thead>
        <tr>
            <th>Dato</th>
            <th></th>
            <th>Saksliste</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="m in utvalg.moter | orderBy:sortByMotedato:true">
            <td>
                <span class="glyphicon glyphicon-calendar"></span> <a href="#/moter/{{ m.moteid }}">{{ m.motedato }}</a>
            </td>
            <td>
               {{ m.motetittel }}
            </td>
            <td>
                <span class="glyphicon glyphicon-list-alt"></span> <a href="#/moter/{{ m.moteid }}">Saksliste</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-lg-4">
    <div data-kontaktpersonbox></div>
    <div data-varslingsbox></div>
</div>

<div class="clearfix"></div>