<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Varsling om oppdateringer</h3>
    </div>
    <div class="panel-body">
        Ønsker du å motta varsel på e-post når det legges ut nye saker?<br/>
        Ta kontakt med Jonas Enge<br/>
        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:jonas.enge@t-fk.no" title="Send e-post til Jonas Enge">jonas.enge@t-fk.no</a> for å bli registrert i varslingssystemet vårt.
    </div>
</div>